***Practical 29***

**Write a python program to perform XML Parsing.**

In [1]:
import pandas as pd
from lxml.objectify import *
xml=parse(open("books.xml","r"))
r=xml.getroot()
print(r.tag)
df=pd.DataFrame(columns=("author","title","price"))
for i in range(3):
    obj = r.getchildren()[i].getchildren()
    d={"author":obj[0].text,"title":obj[1].text,"price":obj[3].text}
    row=pd.Series(d)
    row.name=i
    df=df._append(row)
    
df

catalog

                 author                  title  price
0  Gambardella, Matthew  XML Developer's Guide  44.95
1            Ralls, Kim          Midnight Rain   5.95
2           Corets, Eva        Maeve Ascendant   5.95