***Practical 27***

** Read content of text file using uploading, streaming
and sampling methods from “Colors.txt” file**

** Read Content of CSV file**

** Read data from Excel sheet**

In [1]:
#uploading a text file
with open("colors.txt","r") as f:
    print(f.read())

Color Name, Number
Red, 1
Green, 2
Blue, 3
Yellow, 4
Orange, 5
Purple, 6
Pink, 7

In [2]:
#streaming a text file
with open("colors.txt","r") as f:
     for obs in f:
        print(obs)

Color Name, Number

Red, 1

Green, 2

Blue, 3

Yellow, 4

Orange, 5

Purple, 6

Pink, 7

In [3]:
#sampling a text file
with open("colors.txt","r") as open_file:
    for j,obs in enumerate(open_file):
        print(obs)

Color Name, Number

Red, 1

Green, 2

Blue, 3

Yellow, 4

Orange, 5

Purple, 6

Pink, 7

In [4]:
#reading csv file
import pandas as pd
csv = pd.read_csv("colors.csv")
csv

  Color Name  Number
0        Red       1
1      Green       2
2       Blue       3
3     Yellow       4
4     Orange       5
5     Purple       6
6       Pink       7

In [5]:
import pandas as pd
excel = pd.read_excel("data.xlsx")
excel

    Name  Age           City
0   John   30       New York
1  Sarah   28    Los Angeles
2   Mike   35        Chicago
3  Emily   25  San Francisco