**Explain sampling in terms of data science?**

In [1]:
import pandas as pd

# Load data
data = pd.read_csv('sales.csv')

# Randomly sample 10% of the data
sample = data.sample(frac=0.2)
print(sample.shape)
sample

(73, 2)

           Date  Sales
56   2023-02-26   4365
102  2023-04-13   2165
101  2023-04-12   4782
145  2023-05-26   3785
237  2023-08-26   2445
..          ...    ...
342  2023-12-09   1542
32   2023-02-02   4940
278  2023-10-06   2955
263  2023-09-21   1960
131  2023-05-12   2542

[73 rows x 2 columns]

**Explain imputation in detail with examples.**

In [7]:
import pandas as pd
data = {'A': [1, 2, None, 4, 5], 'B': [10, 20, 30, None, 50]}
df = pd.DataFrame(data)

# Impute missing values with mean
df = df.fillna(df.mean())
df

     A     B
0  1.0  10.0
1  2.0  20.0
2  3.0  30.0
3  4.0  27.5
4  5.0  50.0

In [9]:
import pandas as pd
data = {'A': [1, 2, None, 4, 5], 'B': [10, 20, 30, None, 50]}
df = pd.DataFrame(data)

# Impute missing age values with the constant value 30
imputed_df = df.fillna(value=7, inplace=False)

print(imputed_df)

     A     B
0  1.0  10.0
1  2.0  20.0
2  7.0  30.0
3  4.0   7.0
4  5.0  50.0

**Write a python program to read data from a text file using pandas 
library.**

In [12]:
import pandas as pd
data = pd.read_csv('colors.txt')
data

    Color  Number
0     Red       1
1   Green       2
2    Blue       3
3  Yellow       4
4  Orange       5
5  Purple       6
6    Pink       7

**Explain time series plot with appropriate examples.**

In [14]:
import pandas as pd
import datetime as dt

start_date = dt.datetime(2020,8,28)
end_date = dt.datetime(2020,9,5)

daterange = pd.date_range(start_date,end_date)
print(daterange)

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05'],
              dtype='datetime64[ns]', freq='D')

In [15]:
import pandas as pd
import datetime as dt

start_date = dt.datetime(2020,8,28)
daterange =pd.date_range(start_date,freq='D',periods=10)
print(daterange)

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

**Write a python program to read data from CSV files using pandas**

In [18]:
import pandas as pd

data = pd.read_csv('colors.csv')
data

  Color Name  Number
0        Red       1
1      Green       2
2       Blue       3
3     Yellow       4
4     Orange       5
5     Purple       6
6       Pink       7